<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do</title>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1 style="text-align: center;" class="mt-5">to-do list</h1>
        <table class="mx-auto table table-striped border">

            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">date</th>
                    <th scope="col">title</th>
                    <th scope="col">description</th>
                    <th scope="col">güncelle</th>
                    <th scope="col">delete</th>
                </tr>
            <thead>
            
            <tbody>
                {% for row in data %}
                
                <tr>
                    <form action="/guncel" method="post">
                        <td class="border"><input type="hidden" name="id" value="{{ row[4] }}">{{ row[4] }}</td>
                        <td class="border"><input type="text" name="date" value="{{ row[0] }}"></td>
                        <td class="border"><input type="text" name="title" value="{{ row[1] }}"></td>
                        <td class="border"><input type="text" name="description" value="{{ row[2] }}"></td>
                        <td class="border"><input type="submit" value="güncelle"></td>
                    </form>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{ row[4] }}">
                        <td><input type="submit" value="delete"></td>
                    </form>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <br><hr class="mx-auto"><br>

    <div class="container">
        <h2 style="text-align: center;">Yeni Görev Ekle</h2>
        <table class="mx-auto table">
            <tr>
                    <form action="/add" method="post">
                        <td><input type="text" name="date" placeholder="date"></td>
                        <td><input type="text" name="title" placeholder="title"></td>
                        <td><input type="text" name="description" placeholder="description"></td>
                        <td><input type="submit" value="add"></td>
                    </form>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>